body {
  background-image: url(assets/bg.png);
  background-size: cover;
}

#page {
  box-sizing: border-box;
  width: 1300px;
  padding: 80px;
  background-color: white;
}

h3 {
  color: #E1624F;
  text-align: left;
}

p {
 color: #333333;
}

footer {
  color :#333333;
}